.footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px 15px;
  }
  
  .footer p {
    margin: 5px 0;
  }
  
  .footer a {
    color: var(--primary-color);
    text-decoration: none;
    margin: 0 5px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  