.mainOfferBanner {
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #000;
    color: #EB4C6B;
}

.offerText {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}


@media (max-width: 758px) {
    .offerText {
        display: none;
    }
    
    .offerText:first-child {
        display: flex; 
    }
}
